:root {
	--white: #ffffff;
	--light_gray: #f8f8fa;
	--light_blue: #3b82f6;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

nav ul {
	background-color: var(--white);
	display: flex;
	align-items: center;
	padding: 0 0 0 1px;
}

nav {
	box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.08);
}

li {
	list-style-type: none;
}

ul > div {
	padding: 15px;
}

a {
	color: #000;
	padding-top: 25px;
	text-decoration: none;
}

.fa {
	font-size: 21px;
	padding-bottom: 8px;
}

.nav-item {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.nav-item > i {
	font-style: 36px;
}

.container {
	background-color: var(--light_gray);
	display: grid;
}

.container .wrapper {
	min-height: 100vh;
	margin: 25px 10px 0;
}

.container .wrapper .top-container {
	display: grid;
	grid-template-columns: 1fr 2fr;
	margin: 0 0 15px 10px;
}

.wrapper .top-container .patient-mrn {
	border-right: 2px solid #000;
	padding-right: 20px;
}

.patient-mrn div h3 {
	margin-bottom: 20px;
	padding-bottom: 20px;
	border-bottom: 2px solid rgba(0, 0, 0, 0.08);
}

.patient-mrn p {
	line-height: 30px;
}

.wrapper .top-container .hello-dr {
	margin-top: 43px;
	margin-left: 20px;
}

.hello-dr div {
	display: flex;
	margin-top: 35px;
}

.hello-dr div p:first-child {
	padding-right: 10px;
}

.hello-dr div p:nth-child(n + 2) {
	padding: 0 10px 0 15px;
}

.hello-dr div p:nth-child(-n + 2) {
	border-right: 2px solid #000;
}

.patient-info div h3 {
	padding-bottom: 15px;
}

.patient-info p {
	line-height: 40px;
}

.vital-monitoring > button {
	padding: 2px 18px;
	height: 40px;
	width: 100%;
	border: none;
	font-size: 15px;
	border-radius: 5px;
	outline: none;
	background-color: var(--light_blue);
	color: var(--white);
	cursor: pointer;
}

.container .wrapper .bottom-container {
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
	margin: 15px 0 20px;
}

.bottom-container .ecg-form > textarea {
	margin-top: 25px;
	width: 90%;
	height: 14rem;
	resize: none;
	outline: none;
    	border:2px solid rgba(0, 0, 0, 0.08);
}

.ecg-form .udp {
	display: flex;
	margin-top: 15px;
}

.ecg-form .udp div {
	margin-right: 20px;
	height: 30px;
	width: 60px;
	border: 1px solid black;
}

.info-wrap {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	padding-top: 25px;
}

.info-wrap .box div{
	margin-bottom: 7px;
	border-radius: 5px;
	height: 45px;
	width: 80px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);;

}

.info-wrap .box p{
	font-size: 15px;
}

.info-wrap .box div,
.ecg-form .udp div {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 5px;
	cursor: pointer;

}

